<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SocketIO Test</title>
</head>
<body>
  <p>Some sample code to make sure Flask-SocketIO works...</p>
  <button onclick="createGame()">Create Game</button>
  <div class="smth">
      <input type="text" id="_game_id">
      <br>
      <button onclick="joinGame()">Join Game</button>
  </div>
  <div class="game">
      <input type="text" value="Your hit" name="hit_field" class="hit_field" id="hit_field">
      <label class="lab" for="hit_field">Enter your decision: </label>
      <button onclick="hit()">FIRE!</button>
  </div>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    // verify our websocket connection is established
    socket.on('connect', function() {
        console.log('Websocket connected!');
    });
    // message handler for the 'join_room' channel
    socket.on('joined', function(msg) {
        console.log(msg);
    });
    socket.on('start', function(msg) {
        console.log(msg);
    });
    socket.on('forbidden', function (msg) {
       console.log(msg);
    });
    // createGame onclick - emit a message on the 'create' channel to
    // create a new game with default parameters
    function createGame() {
      console.log('Creating game...');
      socket.emit('create', {name: "Pushok"});
    }
    function joinGame() {
        var id_field = document.getElementById("_game_id")
        console.log('Joining game with id ' + id_field.value)
        socket.emit('join', {name: "Not Pushok", game_id: id_field.value})
    }
    function hit() {
        var decision = document.getElementById("hit_field")
        console.log(decision)
    }
  </script>
</body>
</html>